* {
    box-sizing: border-box;
}
/* Disable firefox, chrome gesture for back:
https://stackoverflow.com/questions/30636930/disable-web-page-navigation-on-swipeback-and-forward
*/
html,
body {
    overscroll-behavior-x: none;
    /* overscroll-behavior-y: none; */
    height: 100%;
}
body {
    background-color: beige;
}
.container {
    height: 100%;
    padding: 0.3rem;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 2fr 600px 2fr;
    grid-template-rows: 1fr 10fr 2fr;
    grid-template-areas:
        "ehand ehand ehand"
        "player battlefield enemy"
        "phand phand phand";
    grid-column-gap: 1%;
    grid-row-gap: 1%;
}
.container > div {
    background-color: rgb(233, 166, 41);
}
.container > div#battlefield {
    background-color: unset;
}
#enemy-hand {
    grid-area: ehand;
}
#enemy {
    grid-area: enemy;
}
#player {
    grid-area: player;
}
#player-hand {
    grid-area: phand;
}

#battlefield {
    grid-area: battlefield;
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    grid-template-areas:
        "trap0 trap1 . trap2 trap3"
        "slot0 slot4 trap4 slot8 slot12"
        "slot1 slot5 trap5 slot9 slot13"
        "slot2 slot6 trap6 slot10 slot14"
        "slot3 slot7 trap7 slot11 slot15";
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    align-items: center;
    justify-items: center;
}

.card-slot {
    position: relative;
    border: 2px orange solid;
    width: 100%;
    height: 100%;
    background-color: navajowhite;
}
.trap-slot-horizontal {
    width: 100%;
    height: 100%;
    border: 2px orange solid;
    background-color: rgba(250, 228, 195, 0.596);
}
.trap-slot-vertical {
    width: 100%;
    height: 100%;
    border: 2px orange solid;
    background-color: rgba(250, 228, 195, 0.596);
}
.card-slot:hover,
.trap-slot-vertical:hover,
.trap-slot-horizontal:hover {
    border: 2px solid green;
    background-color: greenyellow;
}
.available-placement {
    border: 3px solid greenyellow;
}
#slot0 {
    grid-area: slot0;
}
#slot1 {
    grid-area: slot1;
}
#slot2 {
    grid-area: slot2;
}
#slot3 {
    grid-area: slot3;
}
#slot4 {
    grid-area: slot4;
}
#slot5 {
    grid-area: slot5;
}
#slot6 {
    grid-area: slot6;
}
#slot7 {
    grid-area: slot7;
}
#slot8 {
    grid-area: slot8;
}
#slot9 {
    grid-area: slot9;
}
#slot10 {
    grid-area: slot10;
}
#slot11 {
    grid-area: slot11;
}
#slot12 {
    grid-area: slot12;
}
#slot13 {
    grid-area: slot13;
}
#slot14 {
    grid-area: slot14;
}
#slot15 {
    grid-area: slot15;
}
#trap0 {
    grid-area: trap0;
}
#trap1 {
    grid-area: trap1;
}
#trap2 {
    grid-area: trap2;
}
#trap3 {
    grid-area: trap3;
}
#trap4 {
    grid-area: trap4;
}
#trap5 {
    grid-area: trap5;
}
#trap6 {
    grid-area: trap6;
}
#trap7 {
    grid-area: trap7;
}

/* ------ Cards ---- */
.card-frame {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(156, 199, 248, 0.897);
    border: 3px rgb(69, 61, 141) solid;
}
.card-frame:hover {
    /* transition: all 0.1s ease-in-out; */
    transition: left, width, height 0.1s ease-in-out;
}
/* media */
@media (max-width: 1366px) and (orientation: landscape) {
    .container {
        grid-template-columns: 2fr 8fr 2fr;
    }
}
@media (orientation: portrait) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 6fr 1.5fr;
        grid-template-areas:
            "enemy ehand ehand"
            "battlefield battlefield battlefield"
            "player phand phand";
    }
    #battlefield {
        grid-gap: 0.5rem;
    }
    .card-slot {
        width: 100px;
    }
}
@media (max-width: 1024px) and (orientation: portrait) {
    .card-slot {
        width: 86%;
    }
    .trap-slot-horizontal {
        width: 86%;
    }
}
@media (max-height: 700px) and (orientation: landscape) {
    .container {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 3fr 6fr 4fr;
        grid-template-areas:
            "player battlefield ehand"
            "player battlefield enemy"
            "phand battlefield enemy";
    }
}
@media screen and (min-width: 1367px) {
    .container {
        grid-template-columns: 2fr 3fr 1fr 2fr;
        grid-template-rows: 1fr 6fr 1.5fr;
        grid-template-areas:
            "player battlefield battlefield enemy"
            "player battlefield battlefield enemy"
            "phand phand ehand ehand";
    }
    .card-slot {
        width: 150px;
    }
    .trap-slot-horizontal {
        width: 150px;
    }
}
@media (max-width: 580px) {
    .card-slot {
        width: 100%;
    }
    .trap-slot-horizontal {
        width: 100%;
    }
}

/* .container:after,
.row:after,
.cf {
    content: "";
    display: table;
    clear: both;
} */
